@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* Colors */
  --clr-turquoise: #48cae4;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-orange: #fca311;
  --clr-dark: #001d3d;

  /* Font Family */
  --ff-heading: 'Bebas Neue', sans-serif;
  --ff-texts: 'Saira Condensed', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-texts);
  background-color: var(--clr-dark);

  text-align: center;
}

/* global css */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Custom CSS */

h2 {
  color: var(--clr-orange);

  font-family: var(--ff-heading);
  font-size: 2rem;

  word-spacing: 4px;
  letter-spacing: 2px;
  margin: 1.5rem auto;
}

#msg {
  font-size: 1.1rem;
  font-family: var(--ff-texts);

  margin-bottom: 1rem;
  color: var(--clr-white);
}

#gameboard {
  border: 3px solid var(--clr-orange);
}

#score {
  font-size: 1.1rem;
  font-family: var(--ff-texts);

  color: var(--clr-white);
  margin-top: 1rem;
}

/* MEDIA QUERY */

@media screen and (max-width: 576px) {}